body {
	margin: 0;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.register-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: linear-gradient(135deg, #012676 0%, #0d1117 100%);

}
.register-box {
	border-radius: 5px;
	background: white;
	width: 400px;
	max-height: 85vh;
	padding: 25px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button-area{
	display: flex;
	gap: 10px;
}
.register-box h1 {
	font-size: 45px;
	text-align: center;
	color: #012676;
	margin-bottom: 30px;
}
.register-box input {
	width: 100%;
	padding: 10px;
	margin: 7px 0;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-sizing: border-box;
}
.register-box button {
	width: 150px;
    padding: 12px;
	background: #012676;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 15px;
	margin-top: 10px;
}
.register-btn button:hover {
	background: #008604;
}
.cancel-btn button:hover {
	background: #860000;
}
.dados-empresa h1{
    text-align: left;
    margin-bottom: 2px;
    font-size: 20px;
}
.contato h1{
    text-align: left;
    margin-bottom: 2px;
    font-size: 20px;
}
.endereco h1{
    text-align: left;
    margin-bottom: 2px;
    font-size: 20px;
}
.contato-box button {
	width: 150px;
    padding: 12px;
	background: #012676;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 15px;
	margin-top: 10px;
}

.logo-register {
	text-align: center;
	margin-top: 20px;
}
.logo-register img {
	width: 250px;
}